.todo-create {
  border: 1px solid black;
  padding: 15px;
  border-radius: 6px;
  max-width: 500px;
  margin: 50px auto;
}

.todo-create-title {
  text-align: center;
}

.todo-create-form {
  margin-top: 15px;
}

.todo-create-input {
  width: 100%;
  margin-bottom: 15px !important;
}
